<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
   
  <test name="Regression1">
    <classes>
      <!--<class name="tests.EducationIndustriesPageTest" />-->
     <!--<class name="tests.FinanceIndustriesPageTest" />-->
      <!--<class name="tests.MediaIndustriesPageTest" />-->
        <class name="tests.TestsWithReport" />
        <!--<class name="tests.MyReport" />-->
      <!--<class name="tests.TechnologyIndustriesPageTest" />-->
   </classes>

  </test>
</suite>
